<mat-table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="record_name">
    <th mat-header-cell *matHeaderCellDef> Record Name </th>
    <td mat-cell *matCellDef="let element"> {{element.record_name}} </td>
  </ng-container>

  <ng-container matColumnDef="OBJECTID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sq. Feet </th>
    <td mat-cell *matCellDef="let element"> {{element.OBJECTID}} </td>
  </ng-container>

  <ng-container matColumnDef="record_id">
    <th mat-header-cell *matHeaderCellDef> Record Id </th>
    <td mat-cell *matCellDef="let element"> {{element.record_id}} </td>
  </ng-container>

  <ng-container matColumnDef="date_opened">
    <th mat-header-cell *matHeaderCellDef> Date Opened </th>
    <td mat-cell *matCellDef="let element"> {{element. date_opened}} </td>
  </ng-container>

  <ng-container matColumnDef="record_status">
    <th mat-header-cell *matHeaderCellDef> Record Status </th>
    <td mat-cell *matCellDef="let element"> {{element.record_status}} </td>
  </ng-container>

  <ng-container matColumnDef="date_closed">
    <th mat-header-cell *matHeaderCellDef> Date Closed </th>
    <td mat-cell *matCellDef="let element"> {{element.date_closed}} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <ng-container matColumnDef="record_type">
    <th mat-header-cell *matHeaderCellDef> Record Type </th>
    <td mat-cell *matCellDef="let element"> {{element.record_type}} </td>
  </ng-container>

  <!--
  <ng-container matColumnDef="record_type_category">
    <th mat-header-cell *matHeaderCellDef> Record Type Category</th>
    <td mat-cell *matCellDef="let element"> {{element.record_type_category}} </td>
  </ng-container>

  <ng-container matColumnDef="record_type_group">
    <th mat-header-cell *matHeaderCellDef> Record Type Group</th>
    <td mat-cell *matCellDef="let element"> {{element.record_type_group}} </td>
  </ng-container>

  <ng-container matColumnDef="record_type_subtype">
    <th mat-header-cell *matHeaderCellDef> Record Type Subtype</th>
    <td mat-cell *matCellDef="let element"> {{element.record_type_subtype}} </td>
  </ng-container>

  <ng-container matColumnDef="record_type_type">
    <th mat-header-cell *matHeaderCellDef> Record Type Subtype</th>
    <td mat-cell *matCellDef="let element"> {{element.record_type_subtype}} </td>
  </ng-container>

  <ng-container matColumnDef="record_type_4level">
    <th mat-header-cell *matHeaderCellDef> Record Type 4Level</th>
    <td mat-cell *matCellDef="let element"> {{element.record_type_4level}} </td>
  </ng-container> -->

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="planner_id">
    <th mat-header-cell *matHeaderCellDef> Planner Id </th>
    <td mat-cell *matCellDef="let element"> {{element.planner_id}} </td>
  </ng-container>

  <ng-container matColumnDef="module">
    <th mat-header-cell *matHeaderCellDef> Module </th>
    <td mat-cell *matCellDef="let element"> {{element.module}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>